<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV_API</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vuex/2.4.1/vuex.min.js'></script>

</head>

<body>

    <div id="flow">

    </div>

    <!--<div class="ui container">
        <div class="ui segment center aligned">
            <button class="ui button basic orange active medium loadfile" id="loadfile_1" aria-label="Load Image">
                Load Image
            </button>
        </div>
    </div> -->

    <script src="js/script.js"></script>

</body>

</html>